<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>calculadora</title>
</head>
<body>
	<marquee>calculadora super 3000x</marquee>
	<h1>calculadora 3000x tubineitor</h1>

	<form method="POST">
		<label>numero 1</label>
		<input type="number" name="numero_1" required><br><br>

		<label>numero 2</label>
		<input type="number" name="numero_2" required><br><br>

		<input type="submit" value="sumar">

</body>
</html>